@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin-ext');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.blackberry {
  color: #01385f;
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 14px;
}
.blackberry * {
  font-family: 'Roboto Condensed', sans-serif !important;
}
.blackberry .fa {
  font-family: FontAwesome !important;
}
.blackberry a {
  cursor: pointer;
}
.blackberry .csc-progress-img {
  background: url(img/ajax-loader.gif) no-repeat center center;
  width: 32px;
  height: 32px;
  outline: none;
  margin: auto;
}
::-webkit-scrollbar:horizontal {
  height: 7px;
}
.blackberry .site-header {
  background: #033d62 !important;
}
.blackberry .site-header .user-info .user-name,
.blackberry .site-header .user-info .user-id {
  padding: 0 8px;
  color: #c1d0cc;
  font-size: 12px;
  margin: 0 0 0 16px;
  line-height: 20px;
  background: #1898a0;
  border-radius: 2px;
}
.blackberry .site-header .user-info .user-id {
  margin-top: 4px;
}
.blackberry .site-header .logo {
  opacity: .7;
}
.blackberry .site-header .logout-button {
  font-size: 24px !important;
  box-shadow: none;
  background: none;
  color: rgba(240, 227, 213, 0.7) !important;
  opacity: .7;
}
.blackberry .site-header .logout-button:hover {
  opacity: 1;
  background: #1898a0 !important;
}
.blackberry .right-buttons {
  background: #15838a;
}
.blackberry .right-buttons .csc-mini-button--font-icon {
  background: none;
  color: #03beca !important;
  box-shadow: none;
}
.blackberry .right-buttons .csc-mini-button--font-icon:hover {
  background: rgba(3, 190, 202, 0.2) !important;
  color: #05ecfb !important;
}
.blackberry .right-buttons .csc-ver-block {
  border-top: 1px solid rgba(240, 227, 213, 0.1);
}
.blackberry .right-buttons .csc-ver-block:last-child {
  border-bottom: 1px solid rgba(240, 227, 213, 0.1);
}
.blackberry .right-buttons .csc-ver-block:first-child {
  border-top: none;
}
.blackberry .mega-menu__toggle-button {
  background: none;
  color: #f0e3d5 !important;
  box-shadow: none;
}
.blackberry .mega-menu__toggle-button:hover {
  background: #1f9f9d;
}
.sample_mega_menu {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.mmoverlay {
  background: rgba(0, 0, 0, 0.2);
}
.csc-mega-menu-search-btn {
  background: none !important;
}
.csc-mega-menu-search-btn .fa {
  display: inline-block !important;
}
.csc-mega-menu-container {
  border: none;
  border-radius: 2px;
  background: #fdfcfb;
}
.csc-mega-menu-container > div {
  padding: 0;
}
.csc-mega-menu-container h1 {
  padding: 0 8px !important;
  line-height: 32px;
  color: #f0e3d5;
  background: rgba(1, 56, 95, 0.1);
}
.csc-mega-menu-container .csc-mega-menu-right-col {
  padding: 0;
}
.csc-mega-menu-container .csc-mega-menu-right-col h1 {
  font-size: 16px;
  font-weight: normal;
  color: #0382aa;
}
.csc-mega-menu-container .csc-mega-menu-right-col > li > ul {
  padding: 16px;
}
.csc-mega-menu-container .csc-mega-menu-right-col ul {
  margin: 0;
}
.csc-mega-menu-container .csc-mega-menu-right-col ul li {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  padding: 4px 0;
}
.csc-mega-menu-container .csc-mega-menu-right-col ul li.liHasChild + li {
  border-top: 1px dashed rgba(1, 56, 95, 0.2);
  padding-top: 8px;
}
.csc-mega-menu-container .csc-mega-menu-right-col ul li a:hover {
  color: #03beca;
}
.csc-mega-menu-container .csc-mega-menu-right-col ul li > div > div {
  font-weight: 700;
  opacity: .7;
}
.csc-mega-menu-container .csc-mega-menu-right-col ul ul {
  margin: 0 0 0 16px;
}
.csc-mega-menu-container .csc-mega-menu-right-col + .csc-mega-menu-right-col h1 {
  border-left: 1px solid rgba(1, 56, 95, 0.2);
}
.csc-mega-menu-container .csc-mega-menu-left {
  background: #0686a8;
  border-radius: 2px 0 0 2px;
  border: none;
  border-right: 5px solid #01385f;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-left-title-container {
  color: #f0e3d5;
  background: rgba(1, 56, 95, 0.5);
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-left-title-container h1 {
  color: #f0e3d5;
  line-height: 32px;
  padding: 0 8px;
  font-weight: normal;
  font-size: 16px;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-left-title-container .csc-smart-menu-openAddCategory-btn {
  background: none;
  text-align: center;
  background: rgba(38, 166, 154, 0.7);
  height: 32px;
  width: 32px;
  font-size: 14px;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-left-title-container .csc-smart-menu-openAddCategory-btn .fa {
  display: block !important;
  line-height: 32px;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-left-title-container .csc-smart-menu-openAddCategory-btn:hover {
  background: #03beca;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-search-div .csc-mega-menu-search-text,
.csc-mega-menu-container .csc-mega-menu-left .csc-smart-menu-addCategory-text {
  border-radius: 2px 0 0 2px !important;
  border: none !important;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-search-div .csc-mega-menu-search-btn,
.csc-mega-menu-container .csc-mega-menu-left .csc-smart-menu-addCategory-btn {
  border: none !important;
  display: table-cell !important;
  background: #fff !important;
  text-align: center;
  opacity: 1;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-search-div .csc-mega-menu-search-btn:hover,
.csc-mega-menu-container .csc-mega-menu-left .csc-smart-menu-addCategory-btn:hover {
  background: #eddecd !important;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-smart-menu-addCategory-div {
  margin: 16px 0;
  padding: 16px;
  border-top: 1px solid rgba(240, 227, 213, 0.1);
  border-bottom: 1px solid rgba(240, 227, 213, 0.1);
}
.csc-mega-menu-container .csc-mega-menu-left .csc-smart-menu-addCategory-btn .fa {
  display: block !important;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category > div {
  font-size: 14px;
  font-weight: normal;
  position: relative;
  padding: 0 32px;
  background: #0394b4;
  color: #f0e3d5;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category > div a {
  line-height: 32px;
  display: block;
  color: #c1d0cc;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category > div a:focus,
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category > div a:active {
  background: none;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category > div .fa-folder {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: block !important;
  opacity: .7;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category > div .csc-mega-menu-close-category {
  border: none;
  border-radius: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 32px;
  background: rgba(3, 190, 202, 0.5);
  margin: 0;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category > div .csc-mega-menu-close-category span {
  display: none;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category > div .csc-mega-menu-close-category .fa {
  display: block !important;
  line-height: 32px;
  color: #c1d0cc;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category > div .csc-mega-menu-close-category:hover {
  background: #03beca;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category > div:hover {
  background: #03a0ba;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category ol {
  margin-left: 16px;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category ol .csc-mega-menu-item {
  border: none;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category ol .csc-mega-menu-item .fa {
  display: inline-block !important;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category ol .csc-mega-menu-item .fa-link {
  margin-right: 8px;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category ol .csc-mega-menu-item a {
  color: #c1d0cc;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category ol .csc-mega-menu-item a:focus,
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category ol .csc-mega-menu-item a:active {
  background: none;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category ol .csc-mega-menu-item .csc-mega-menu-close-item {
  background: none;
  border: none;
  opacity: .7;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category ol .csc-mega-menu-item .csc-mega-menu-close-item span {
  display: none;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category ol .csc-mega-menu-item:hover {
  background: #0e8da5;
}
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-category ol .csc-mega-menu-item + .csc-mega-menu-item {
  border-top: 1px solid rgba(240, 227, 213, 0.05);
}
.csc-mega-menu-container .csc-mega-menu-right.tabbed .csc-mega-menu-right-col {
  width: 100%;
}
.csc-mega-menu-container .csc-mega-menu-right.tabbed .csc-mega-menu-right-col h1 {
  background: #0394b4;
  border-bottom: 1px solid rgba(240, 227, 213, 0.2);
  cursor: default;
  color: #f0e3d5;
  position: relative;
}
.csc-mega-menu-container .csc-mega-menu-right.tabbed .csc-mega-menu-right-col h1:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid #0394b4;
  position: absolute;
  left: -5px;
  top: 100%;
  margin-top: -1px;
}
.csc-mega-menu-container .csc-mega-menu-right.tabbed .csc-mega-menu-right-col h1 + ul {
  position: static;
  height: auto !important;
  width: auto;
  border: none;
  display: block !important;
}
.csc-mega-menu-container .csc-mega-menu-right.tabbed .csc-mega-menu-right-col h1:hover {
  background: #0394b4;
}
.csc-mega-menu-container .csc-mega-menu-right.tabbed .csc-mega-menu-right-col .active h1 {
  background: #0394b4;
}
.csc-mega-menu-container .csc-mega-menu-footer {
  display: none;
}
.blackberry .csc-main-tab > .top-buttons ul li .csc-tab-close:before,
.blackberry div.csc-form-title .collapse:before,
.blackberry div.csc-form-title .expand:before,
.blackberry .csc-form-fieldset legend.collapse:before,
.blackberry .csc-form-fieldset legend.expand:before,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-showallbtn span:before,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-first:before,
.blackberry.csd-contextmenu-cont .csd-contextmenu .csd-contextmenu-icondiv:before,
.blackberry .csc-normal-tab > .top-buttons ul li .csc-tab-close:before,
.blackberry .csc-accordion .csc-acc-title .csc-acc-close:before,
.blackberry .csc-accordion .csc-accordion-scroll-button-cont .csc-accordion-scroll-top-button:after,
.blackberry .csc-dt .csc-dt-action-bar .csc-dt-action-btn:after,
.blackberry .csc-dt .csc-dt-rhead .csc-dt-th-util:after,
.blackberry .cstree li.cstree-open > ins:before,
.blackberry .cstree li.cstree-closed > ins:before,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-exportbtn span:before,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-importbtn span:before,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-prev:before,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-next:before,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-last:before,
.blackberry .csc-dt .csc-dt-lhead .csc-dt-th-util:after,
.blackberry .csc-dt .csc-dt-footer input span:before,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-first:before,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-prev:before,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-next:before,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-last:before {
  font: normal normal normal 14px/1 FontAwesome;
}
.blackberry .csc-main-tab {
  background: #ffffff;
  height: 100%;
}
.blackberry .csc-main-tab > .top-buttons {
  background: #15838a;
}
.blackberry .csc-main-tab > .top-buttons ul {
  margin: 0;
}
.blackberry .csc-main-tab > .top-buttons ul li {
  padding: 0;
  position: relative;
  color: rgba(206, 251, 254, 0.8);
  font-size: 14px;
  margin: 0;
  background: rgba(3, 190, 202, 0.2);
  border: none;
}
.blackberry .csc-main-tab > .top-buttons ul li span {
  line-height: 41px;
  vertical-align: middle;
  margin: 0;
  padding: 0 8px;
}
.blackberry .csc-main-tab > .top-buttons ul li .fa-bars {
  padding: 0 8px;
  line-height: 41px;
}
.blackberry .csc-main-tab > .top-buttons ul li .fa-bars:hover {
  background: rgba(240, 227, 213, 0.2);
}
.blackberry .csc-main-tab > .top-buttons ul li .fa-bars:before {
  content: "\f0d7";
}
.blackberry .csc-main-tab > .top-buttons ul li .csc-tab-close {
  line-height: 41px;
  height: 41px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 4px;
}
.blackberry .csc-main-tab > .top-buttons ul li .csc-tab-close:before {
  content: "\f00d";
  opacity: .6;
}
.blackberry .csc-main-tab > .top-buttons ul li .csc-tab-close:hover {
  background: #03beca;
  color: #01385f;
}
.blackberry .csc-main-tab > .top-buttons ul li.selected {
  background: #ffffff;
  color: #26a69a;
}
.blackberry .csc-main-tab > .top-buttons ul li.selected .csc-tab-close:hover {
  background: none;
  color: #01385f;
}
.blackberry .csc-main-tab > .top-buttons ul li.selected .csc-tab-close:hover:before {
  opacity: 1;
}
.blackberry .csc-main-tab > .top-buttons ul li:not(.selected):hover {
  background: rgba(3, 190, 202, 0.5);
}
.blackberry .csc-main-tab > .top-buttons ul li + li {
  border-left: 1px solid rgba(240, 227, 213, 0.15);
}
.blackberry .csc-main-tab > .csc-tab-panels-section {
  border: none;
}
.blackberry .main-menu-tab.left-buttons {
  background: #15838a;
}
.blackberry .main-menu-tab.left-buttons ul {
  margin: 0;
}
.blackberry .main-menu-tab.left-buttons li {
  color: rgba(206, 251, 254, 0.8);
  font-size: 14px;
  line-height: 32px;
}
.blackberry .main-menu-tab.left-buttons li.selected {
  background: #ffffff;
  color: #26a69a;
}
.blackberry .main-menu-tab.left-buttons li:not(.selected):hover {
  background: rgba(3, 190, 202, 0.5);
}
.blackberry div.csc-form-title {
  position: relative;
}
.blackberry div.csc-form-title .csc-form-title,
.blackberry .csc-form-fieldset legend {
  padding: 0;
  font-size: 16px;
  display: inline-block;
  width: auto !important;
  line-height: 32px;
}
.blackberry div.csc-form-title .collapse,
.blackberry div.csc-form-title .expand,
.blackberry .csc-form-fieldset legend.collapse:before,
.blackberry .csc-form-fieldset legend.expand:before {
  line-height: 16px;
  height: 16px;
  width: 16px;
  text-align: center;
  text-decoration: none;
  background: #0382aa;
  color: #f0e3d5;
  border-radius: 2px;
  cursor: pointer;
  float: left;
  margin: 8px 8px 0 0;
}
.blackberry div.csc-form-title .collapse:before {
  content: "\f0d7";
}
.blackberry div.csc-form-title .expand:before {
  content: "\f0d8";
}
.blackberry .csc-form-fieldset {
  height: auto !important;
  border: 1px solid rgba(7, 134, 168, 0.2);
  border-radius: 2px;
  padding: 8px;
}
.blackberry .csc-form-fieldset legend {
  padding: 0 4px;
}
.blackberry .csc-form-fieldset legend.collapse {
  cursor: pointer;
}
.blackberry .csc-form-fieldset legend.collapse:before {
  content: "\f0d7";
}
.blackberry .csc-form-fieldset legend.expand {
  cursor: pointer;
}
.blackberry .csc-form-fieldset legend.expand:before {
  content: "\f0d8";
}
.blackberry .csc-form-fieldset.borderless-fieldset {
  border: none;
  padding: 0;
}
.blackberry .csc-form-fieldset.borderless-fieldset legend {
  padding: 0;
}
.blackberry .csc-form-table .csc-form-label {
  font-size: 14px;
}
.blackberry .csc-form-table tr td {
  padding: 4px;
}
.blackberry .csc-hor-container__inputGroup .csc-left-align-label {
  vertical-align: middle;
  font-size: 14px;
}
.blackberry .csc-hor-container__inputGroup .csc-left-align-element {
  vertical-align: middle;
}
.blackberry .csc-hor-container__inputGroup > .csc-hor-block {
  margin-bottom: 0;
  vertical-align: middle;
}
.blackberry .csc-hor-container__btnGroup {
  padding: 8px;
}
.blackberry .csc-ver-container__adjacent .csc-ver-block,
.blackberry .csc-hor-container__adjacent > .csc-hor-block {
  background: #ffffff;
  padding: 8px;
  border: 1px solid rgba(7, 134, 168, 0.1);
  border-radius: 2px;
}
.blackberry .csc-ver-container__adjacent .csc-ver-block + .csc-ver-block {
  margin-top: 16px;
}
.blackberry .csc-hor-container__adjacent > .csc-hor-block + .csc-hor-block {
  margin-left: 16px;
}
.blackberry input.csc-textbox,
.blackberry input.csc-maskfield,
.blackberry input.csc-tarih,
.blackberry input.csc-currency,
.blackberry input.csc-number,
.blackberry input.csc-autocomplete,
.blackberry input.csc-password,
.blackberry input.csc-email,
.blackberry input.csc-dc-text,
.blackberry select.csc-combobox,
.blackberry textarea.csc-textarea,
.blackberry .csc-multi-select,
.blackberry .csc-search input[type=text],
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-search-div .csc-mega-menu-search-text,
.blackberry .cstree .csctree-top-div .cstree-search-input,
.csc-mega-menu-container .csc-mega-menu-left .csc-smart-menu-addCategory-text {
  padding: 2px 3px;
  color: #01385f;
  background: #ffffff;
  border: 1px solid rgba(7, 134, 168, 0.3);
  border-radius: 2px;
  line-height: 24px;
  height: 30px;
  margin: 0;
}
.blackberry input.csc-textbox:focus,
.blackberry input.csc-maskfield:focus,
.blackberry input.csc-tarih:focus,
.blackberry input.csc-currency:focus,
.blackberry input.csc-number:focus,
.blackberry input.csc-autocomplete:focus,
.blackberry input.csc-password:focus,
.blackberry input.csc-email:focus,
.blackberry input.csc-dc-text:focus,
.blackberry select.csc-combobox:focus,
.blackberry textarea.csc-textarea:focus,
.blackberry .csc-multi-select:focus,
.blackberry .csc-search input[type=text]:focus,
.blackberry input.csc-textbox:active,
.blackberry input.csc-maskfield:active,
.blackberry input.csc-tarih:active,
.blackberry input.csc-currency:active,
.blackberry input.csc-number:active,
.blackberry input.csc-autocomplete:active,
.blackberry input.csc-password:active,
.blackberry input.csc-email:active,
.blackberry input.csc-dc-text:active,
.blackberry select.csc-combobox:active,
.blackberry textarea.csc-textarea:active,
.blackberry .csc-multi-select:active,
.blackberry .csc-search input[type=text]:active,
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-search-div .csc-mega-menu-search-text:focus,
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-search-div .csc-mega-menu-search-text:active,
.blackberry .cstree .csctree-top-div .cstree-search-input:focus,
.blackberry .cstree .csctree-top-div .cstree-search-input:active,
.csc-mega-menu-container .csc-mega-menu-left .csc-smart-menu-addCategory-text:focus,
.csc-mega-menu-container .csc-mega-menu-left .csc-smart-menu-addCategory-text:active {
  border-color: rgba(7, 134, 168, 0.7);
}
.blackberry input.csc-textbox:focus ~ img,
.blackberry input.csc-maskfield:focus ~ img,
.blackberry input.csc-tarih:focus ~ img,
.blackberry input.csc-currency:focus ~ img,
.blackberry input.csc-number:focus ~ img,
.blackberry input.csc-autocomplete:focus ~ img,
.blackberry input.csc-password:focus ~ img,
.blackberry input.csc-email:focus ~ img,
.blackberry input.csc-dc-text:focus ~ img,
.blackberry select.csc-combobox:focus ~ img,
.blackberry textarea.csc-textarea:focus ~ img,
.blackberry .csc-multi-select:focus ~ img,
.blackberry .csc-search input[type=text]:focus ~ img,
.blackberry input.csc-textbox:active ~ img,
.blackberry input.csc-maskfield:active ~ img,
.blackberry input.csc-tarih:active ~ img,
.blackberry input.csc-currency:active ~ img,
.blackberry input.csc-number:active ~ img,
.blackberry input.csc-autocomplete:active ~ img,
.blackberry input.csc-password:active ~ img,
.blackberry input.csc-email:active ~ img,
.blackberry input.csc-dc-text:active ~ img,
.blackberry select.csc-combobox:active ~ img,
.blackberry textarea.csc-textarea:active ~ img,
.blackberry .csc-multi-select:active ~ img,
.blackberry .csc-search input[type=text]:active ~ img,
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-search-div .csc-mega-menu-search-text:focus ~ img,
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-search-div .csc-mega-menu-search-text:active ~ img,
.blackberry .cstree .csctree-top-div .cstree-search-input:focus ~ img,
.blackberry .cstree .csctree-top-div .cstree-search-input:active ~ img,
.csc-mega-menu-container .csc-mega-menu-left .csc-smart-menu-addCategory-text:focus ~ img,
.csc-mega-menu-container .csc-mega-menu-left .csc-smart-menu-addCategory-text:active ~ img {
  border-color: rgba(7, 134, 168, 0.7);
}
.blackberry .csc-tarih-container,
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-search-div,
.blackberry .csc-search,
.blackberry .csc-autocomplete-inner,
.csc-mega-menu-container .csc-mega-menu-left .csc-smart-menu-addCategory-div {
  white-space: nowrap;
}
.blackberry .csc-tarih-container *,
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-search-div *,
.blackberry .csc-search *,
.blackberry .csc-autocomplete-inner *,
.csc-mega-menu-container .csc-mega-menu-left .csc-smart-menu-addCategory-div * {
  vertical-align: middle;
}
.blackberry .csc-tarih-container [type="text"],
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-search-div [type="text"],
.blackberry .csc-search [type="text"],
.blackberry .csc-autocomplete-inner [type="text"],
.csc-mega-menu-container .csc-mega-menu-left .csc-smart-menu-addCategory-div [type="text"] {
  border-right: none !important;
  margin: 0;
}
.blackberry .csc-tarih-container img,
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-search-div img,
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-search-div .csc-mega-menu-search-btn,
.blackberry .csc-search img,
.blackberry .csc-autocomplete-inner img,
.csc-mega-menu-container .csc-mega-menu-left .csc-smart-menu-addCategory-div img,
.csc-mega-menu-container .csc-mega-menu-left .csc-smart-menu-addCategory-btn {
  position: static;
  margin: 0 0 0 -1px;
  display: inline-block;
  padding: 5px;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid rgba(7, 134, 168, 0.3);
  border-left: none;
  background: #ffffff;
  border-radius: 0 2px 2px 0;
  overflow: hidden;
}
.blackberry .csc-tarih-container img:hover,
.csc-mega-menu-container .csc-mega-menu-left .csc-mega-menu-search-div img:hover,
.blackberry .csc-search img:hover,
.blackberry .csc-autocomplete-inner img:hover,
.csc-mega-menu-container .csc-mega-menu-left .csc-smart-menu-addCategory-div img:hover {
  background: #eddecd;
}
.blackberry .csc-button {
  padding: 5px;
  background: #0382aa;
  color: #f0e3d5;
  border: 1px solid #01385f;
  border-radius: 2px;
  line-height: normal;
}
.blackberry .csc-button:hover {
  background: #04a8dc;
}
.blackberry .csc-button--with-icon .fa {
  padding: 5px 4px 5px 8px;
}
.blackberry .csc-button-outer {
  border-radius: 2px;
  overflow: hidden;
}
.blackberry .csc-mini-button--font-icon {
  border-radius: 2px;
}
.blackberry .csc-button__btn--default .csc-button {
  color: #01385f;
}
.blackberry .csc-button__btn--primary,
.blackberry .csc-mini-button--primary {
  background: #2e89ad !important;
  border-color: #2d90a9 !important;
}
.blackberry .csc-button__btn--primary:hover,
.blackberry .csc-mini-button--primary:hover {
  background: #2d90a9 !important;
}
.blackberry .csc-button__btn--info {
  background: #18c5fb !important;
  border-color: #04a8dc !important;
}
.blackberry .csc-button__btn--info:hover {
  background: #04bbf5 !important;
}
.blackberry .csc-button__btn--success,
.blackberry .csc-mini-button--success {
  background: #4cb36f !important;
  border-color: #4fb46c !important;
}
.blackberry .csc-button__btn--success:hover,
.blackberry .csc-mini-button--success:hover {
  background: #46b175 !important;
}
.blackberry .csc-button__btn--warning,
.blackberry .csc-mini-button--warning {
  background: #a9ab69 !important;
  border-color: #8baa74 !important;
}
.blackberry .csc-button__btn--warning:hover,
.blackberry .csc-mini-button--warning:hover {
  background: #8baa74 !important;
}
.blackberry .csc-button__btn--danger,
.blackberry .csc-mini-button--danger {
  background: #9a7069 !important;
  border-color: #807d75 !important;
}
.blackberry .csc-button__btn--danger:hover,
.blackberry .csc-mini-button--danger:hover {
  background: #807d75 !important;
}
.blackberry .csc-button__btn--royal {
  background: #667fce !important;
  border-color: #5788c2 !important;
}
.blackberry .csc-button__btn--royal:hover {
  background: #5788c2 !important;
}
.blackberry .csc-button__btn--dark {
  background: #0382aa !important;
  border-color: #01385f !important;
}
.blackberry .csc-button__btn--dark:hover {
  background: #04a8dc !important;
}
.blackberry .csc-mini-button--theme {
  width: 16px;
  height: 16px;
  line-height: 24px;
  font-size: 14px !important;
  padding: 0;
  box-shadow: none !important;
}
.blackberry .csc-mini-button--theme .fa {
  opacity: .8;
}
.blackberry .csc-table {
  border: 1px solid rgba(3, 190, 202, 0.1);
}
.blackberry .csc-table thead,
.blackberry .csc-dt .csc-dt-rhead,
.blackberry .csc-dt .csc-dt-lhead {
  background: #1cbbde;
  color: #f0e3d5;
  font-size: 14px;
}
.blackberry .csc-table thead .csc-table-action-tr,
.blackberry .csc-dt .csc-dt-action-bar {
  background: #0a89a7;
}
.blackberry .csc-table thead .csc-table-action-tr th {
  padding: 0;
  text-align: right;
}
.blackberry .csc-table thead .csc-table-action-tr th .csc-table-action-btn,
.blackberry .csc-table thead .csc-table-action-tr th .csc-table-search-icon,
.blackberry .csc-dt .csc-dt-action-bar .csc-dt-action-btn {
  width: 28px;
  height: 28px;
  display: inline-block;
  float: none !important;
  vertical-align: middle;
  opacity: .5;
  margin: 0;
}
.blackberry .csc-table thead .csc-table-action-tr th .csc-table-action-btn:hover,
.blackberry .csc-table thead .csc-table-action-tr th .csc-table-search-icon:hover,
.blackberry .csc-dt .csc-dt-action-bar .csc-dt-action-btn:hover {
  background-color: #20b2c1 !important;
  opacity: 1;
}
.blackberry .csc-table thead .csc-table-action-tr th .editCol {
  background: url("img/edit-row-white.png") no-repeat center center !important;
}
.blackberry .csc-table thead .csc-table-action-tr th .addRow {
  background: url("img/add-white.png") no-repeat center center !important;
}
.blackberry .csc-table thead .csc-table-action-tr th .deleteRow {
  background: url("img/remove-row-white.png") no-repeat center center !important;
}
.blackberry .csc-table thead .csc-table-action-tr th .deleteSelectedRows {
  background: url("img/delete-row-white.png") no-repeat center center !important;
}
.blackberry .csc-table thead .csc-table-action-tr th .csc-table-search-icon {
  background: url("img/search-white.png") no-repeat center center !important;
}
.blackberry .csc-table thead tr th {
  padding: 8px;
}
.blackberry .csc-table thead tr th + th,
.blackberry .csc-dt .csc-dt-rhead .cell + .cell,
.blackberry .csc-dt .csc-dt-lhead .cell + .cell {
  border-left: 1px solid rgba(240, 227, 213, 0.1);
}
.blackberry .csc-table thead .csc-table-sortable {
  background: url("img/sort.png") no-repeat right center;
}
.blackberry .csc-table thead .csc-table-sort-desc {
  background: url("img/sort-desc.png") no-repeat right center;
}
.blackberry .csc-table thead .csc-table-sort-asc {
  background: url("img/sort-asc.png") no-repeat right center;
}
.blackberry .csc-table thead .csc-table-filter-img {
  top: 0;
}
.blackberry .csc-table thead .csc-table-filter-input {
  position: absolute;
  right: 20px;
  top: -2px;
  border-radius: 2px;
  border: none;
}
.blackberry .csc-table tbody tr td {
  padding: 8px;
  font-size: 14px;
}
.blackberry .csc-table tbody tr td + td {
  border-left: 1px solid rgba(3, 190, 202, 0.1);
}
.blackberry .csc-table tbody tr + tr {
  border-top: 1px solid rgba(3, 190, 202, 0.1);
}
.blackberry .csc-table tbody tr.csc-table-odd {
  background: #eddecd;
}
.blackberry .csc-table tbody tr.csc-table-selected-tr td,
.blackberry .csc-dt .brow.dt-selected .cell,
.blackberry .csc-dt .brow.row-over .cell {
  background: rgba(24, 197, 251, 0.2);
}
.blackberry .csc-table tbody tr.csc-table-paging-row,
.blackberry .csc-dt .csc-dt-footer {
  background: #1cbbde;
  color: #f0e3d5;
}
.blackberry .csc-table tbody tr.csc-table-paging-row td {
  background: none;
  padding: 4px;
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-showallbtn,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-exportbtn,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-importbtn,
.blackberry .csc-dt .csc-dt-footer input {
  border: 1px solid transparent;
  padding: 0 4px;
  border-radius: 2px;
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-showallbtn:hover,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-exportbtn:hover,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-importbtn:hover,
.blackberry .csc-dt .csc-dt-footer input:hover {
  background-color: rgba(38, 166, 154, 0.3) !important;
  border-color: rgba(3, 190, 202, 0.1) !important;
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-showallbtn span,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-exportbtn span,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-importbtn span,
.blackberry .csc-dt .csc-dt-footer input span {
  background: none;
  margin: 0 8px 0 0;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-showallbtn span:before,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-exportbtn span:before,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-importbtn span:before,
.blackberry .csc-dt .csc-dt-footer input span:before {
  content: "\f03a";
  line-height: 20px;
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-exportbtn span:before {
  content: "\f1c3";
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-importbtn span:before {
  content: "\f1c3";
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div span {
  vertical-align: middle;
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-first,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-prev,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-next,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-last,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-first,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-prev,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-next,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-last {
  color: #f0e3d5;
  opacity: 1;
  background: none;
  height: 17px;
  line-height: 17px;
  cursor: pointer;
  border-radius: 2px;
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-first:hover,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-prev:hover,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-next:hover,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-last:hover,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-first:hover,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-prev:hover,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-next:hover,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-last:hover {
  background: rgba(38, 166, 154, 0.3);
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-first:before,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-prev:before,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-next:before,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-last:before,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-first:before,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-prev:before,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-next:before,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-last:before {
  content: "\f100";
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-first.csc-table-paging-btn-disabled,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-prev.csc-table-paging-btn-disabled,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-next.csc-table-paging-btn-disabled,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-last.csc-table-paging-btn-disabled,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-first.csc-table-paging-btn-disabled,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-prev.csc-table-paging-btn-disabled,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-next.csc-table-paging-btn-disabled,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-last.csc-table-paging-btn-disabled {
  pointer-events: none;
  opacity: .7;
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-prev,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-prev {
  margin-right: 4px;
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-prev:before,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-prev:before {
  content: "\f104";
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-next,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-next {
  margin-left: 4px;
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-next:before,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-next:before {
  content: "\f105";
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-seek-last:before,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-seek-last:before {
  content: "\f101";
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-tale-paging-div .csc-table-paging-text,
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-paging-info .csc-table-paging-text,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-paging-text,
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-info .csc-table-paging-text {
  color: #01385f;
  font-size: 14px;
  border-radius: 2px;
  border: none;
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-paging-info {
  margin: 0;
}
.blackberry .csc-table tbody tr.csc-table-paging-row .csc-table-paging-info * {
  vertical-align: middle;
}
.blackberry.csd-contextmenu-cont .csd-contextmenu {
  border: none !important;
}
.blackberry.csd-contextmenu-cont .csd-contextmenu:after {
  background: #02567d !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7) !important;
}
.blackberry.csd-contextmenu-cont .csd-contextmenu li {
  background: #26a69a !important;
  border: none;
}
.blackberry.csd-contextmenu-cont .csd-contextmenu li:hover * {
  background: #30d0c1;
  color: #f0e3d5 !important;
}
.blackberry.csd-contextmenu-cont .csd-contextmenu li + li {
  border-top: 1px solid rgba(240, 227, 213, 0.15);
}
.blackberry.csd-contextmenu-cont .csd-contextmenu .csd-contextmenu-innerdiv {
  width: 100%;
}
.blackberry.csd-contextmenu-cont .csd-contextmenu .csd-contextmenu-innerdiv a {
  color: #f0e3d5;
}
.blackberry.csd-contextmenu-cont .csd-contextmenu .csd-contextmenu-icondiv {
  text-align: center;
  color: #f0e3d5;
  background: rgba(240, 227, 213, 0.1);
}
.blackberry.csd-contextmenu-cont .csd-contextmenu .csd-contextmenu-icondiv:before {
  content: "\f105";
}
.blackberry .csc-normal-tab > .top-buttons ul li {
  background: none;
  padding: 0 8px;
  line-height: 24px;
  font-size: 14px;
  margin: 0;
  border-bottom: 3px solid rgba(3, 130, 170, 0.5);
  position: relative;
}
.blackberry .csc-normal-tab > .top-buttons ul li span {
  color: #0382aa;
}
.blackberry .csc-normal-tab > .top-buttons ul li.selected {
  border-color: #03beca;
}
.blackberry .csc-normal-tab > .top-buttons ul li.selected span {
  color: #03beca;
}
.blackberry .csc-normal-tab > .top-buttons ul li + li {
  margin-left: 8px;
}
.blackberry .csc-normal-tab > .top-buttons ul li:not(.selected):hover {
  border-color: #26a69a;
}
.blackberry .csc-normal-tab > .top-buttons ul li:not(.selected):hover span {
  color: #26a69a;
}
.blackberry .csc-normal-tab > .top-buttons ul li .csc-tab-close {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  opacity: .5;
}
.blackberry .csc-normal-tab > .top-buttons ul li .csc-tab-close:before {
  content: "\f00d";
}
.blackberry .csc-normal-tab > .top-buttons ul li .csc-tab-close:hover {
  color: #03beca;
  opacity: 1;
}
.blackberry .csc-normal-tab .csc-tab-panels-section {
  padding: 0;
  border: none;
}
.blackberry .csc-normal-tab .csc-normal-tab > .top-buttons ul li {
  border-bottom: 1px solid rgba(3, 130, 170, 0.5);
}
.blackberry .csc-normal-tab .csc-normal-tab > .top-buttons ul li span {
  font-weight: normal;
}
.blackberry .csc-normal-tab .csc-normal-tab > .top-buttons ul li.selected {
  border-color: #03beca;
}
.blackberry .csc-normal-tab .csc-normal-tab .csc-normal-tab > .top-buttons ul li {
  background: rgba(3, 130, 170, 0.5);
  line-height: 18px;
  font-size: 13px;
  border-bottom: none;
  border-radius: 50px;
  padding-left: 12px;
}
.blackberry .csc-normal-tab .csc-normal-tab .csc-normal-tab > .top-buttons ul li span {
  color: #f0e3d5;
}
.blackberry .csc-normal-tab .csc-normal-tab .csc-normal-tab > .top-buttons ul li.selected {
  background: rgba(3, 190, 202, 0.8);
}
.blackberry .csc-normal-tab .csc-normal-tab .csc-normal-tab > .top-buttons ul li.selected span {
  color: #f0e3d5;
}
.blackberry .csc-normal-tab .csc-normal-tab .csc-normal-tab > .top-buttons ul li + li {
  margin-left: 8px;
}
.blackberry .csc-normal-tab .csc-normal-tab .csc-normal-tab > .top-buttons ul li:not(.selected):hover {
  background: rgba(3, 130, 170, 0.6);
}
.blackberry .csc-normal-tab .csc-normal-tab .csc-normal-tab > .top-buttons ul li:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #f0e3d5;
  position: absolute;
  left: 4.5px;
  top: 50%;
  margin-top: -2.5px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(3, 130, 170, 0.25), inset 0 0 3px rgba(3, 130, 170, 0.3);
}
.blackberry .csc-normal-tab .csc-normal-tab .csc-normal-tab > .top-buttons ul li:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 12px;
  background: rgba(240, 227, 213, 0.2);
  border-radius: 50px 0 0 50px;
}
.blackberry .csc-normal-tab .csc-normal-tab .csc-normal-tab > .top-buttons ul li .csc-tab-close:hover {
  color: #f0e3d5;
}
.blackberry .csc-accordion {
  background: none;
}
.blackberry .csc-accordion .csc-acc-container {
  border: none;
  background: none;
  padding: 0;
}
.blackberry .csc-accordion .csc-acc-title {
  background: #067290;
  color: #f0e3d5;
  padding: 0 8px;
  height: auto;
  border-radius: 2px;
  line-height: 32px;
}
.blackberry .csc-accordion .csc-acc-title > * {
  display: inline-block;
  vertical-align: middle;
  float: none !important;
}
.blackberry .csc-accordion .csc-acc-title .csc-acc-count {
  float: left !important;
  margin-left: -8px;
  margin-right: 8px;
  width: 24px;
  text-align: center;
  background: rgba(3, 190, 202, 0.3);
  border-radius: 2px 0 0;
}
.blackberry .csc-accordion .csc-acc-title input {
  margin-right: 8px;
}
.blackberry .csc-accordion .csc-acc-title .csc-acc-title-text {
  font-size: 16px;
}
.blackberry .csc-accordion .csc-acc-title .csc-acc-close {
  float: right !important;
  margin-right: -8px;
  width: 24px;
  text-align: center;
  background: rgba(3, 190, 202, 0.3);
  border-radius: 0 2px 0 0;
}
.blackberry .csc-accordion .csc-acc-title .csc-acc-close:before {
  content: "\f00d";
}
.blackberry .csc-accordion .csc-acc-title .csc-acc-close:hover {
  background: #03beca;
}
.blackberry .csc-accordion .csc-acc-title:hover {
  background: #0f7c8d;
}
.blackberry .csc-accordion .csc-acc-title.selected {
  border-radius: 2px 2px 0 0;
}
.blackberry .csc-accordion .csc-acc-panel {
  padding: 8px;
  border: 1px solid rgba(3, 190, 202, 0.1);
  border-radius: 0 0 2px;
}
.blackberry .csc-accordion .csc-acc-panel + .csc-acc-title {
  margin-top: 16px;
}
.blackberry .csc-accordion .csc-accordion-scroll-button-cont {
  right: 70px;
  bottom: 10px;
}
.blackberry .csc-accordion .csc-accordion-scroll-button-cont .csc-accordion-scroll-top-button {
  background: none;
  border: none;
  height: 24px;
  width: auto;
  background: #067290;
  color: #f0e3d5;
  text-align: center;
  line-height: 24px;
  margin-top: 3px;
  border-radius: 2px;
  padding: 0 8px;
}
.blackberry .csc-accordion .csc-accordion-scroll-button-cont .csc-accordion-scroll-top-button:after {
  content: "\f062";
}
.blackberry .csc-accordion .csc-accordion-scroll-button-cont .csc-accordion-scroll-top-button:before {
  content: "Yukarı";
  margin-right: 8px;
}
.blackberry .csc-accordion .csc-accordion-scroll-button-cont .csc-accordion-scroll-top-button:hover {
  background: #0f7c8d;
}
.blackberry .csc-dt {
  background: none;
  border: none;
}
.blackberry .csc-dt .csc-dt-title {
  display: none;
}
.blackberry .csc-dt .csc-dt-action-bar {
  height: auto;
  border: none;
}
.blackberry .csc-dt .csc-dt-action-bar .csc-dt-action-left {
  float: none;
}
.blackberry .csc-dt .csc-dt-action-bar .csc-dt-action-right {
  position: absolute;
  right: 0;
  top: 0;
}
.blackberry .csc-dt .csc-dt-action-bar .csc-dt-action-btn {
  width: auto;
  padding: 0 24px 0 8px;
  line-height: 28px;
  border: none;
  background: none;
  color: #f0e3d5;
  opacity: .7;
  font-size: 14px;
}
.blackberry .csc-dt .csc-dt-action-bar .csc-dt-action-btn:after {
  background: none;
  text-align: center;
  line-height: 20px;
  opacity: 1;
}
.blackberry .csc-dt .csc-dt-action-bar .csc-dt-action-btn.csc-dt-action-add:after {
  content: "\f067";
}
.blackberry .csc-dt .csc-dt-action-bar .csc-dt-action-btn.csc-dt-action-del:after {
  content: "\f1f8";
}
.blackberry .csc-dt .csc-dt-action-bar .csc-dt-action-btn.csc-dt-action-del-sel:after {
  content: "\f1f8";
}
.blackberry .csc-dt .csc-dt-action-bar .csc-dt-action-btn.csc-dt-action-rfrsh:after {
  content: "\f021";
}
.blackberry .csc-dt .csc-dt-action-bar .csc-dt-action-btn.csc-dt-action-search {
  padding: 0;
  width: 28px;
}
.blackberry .csc-dt .csc-dt-action-bar .csc-dt-action-btn.csc-dt-action-search:after {
  content: "\f002";
}
.blackberry .csc-dt .csc-dt-action-bar .csc-dt-action-btn + .csc-dt-action-btn {
  border-left: 1px solid rgba(240, 227, 213, 0.2);
}
.blackberry .csc-dt .csc-dt-action-bar .csc-dt-action-btn:last-child {
  border-right: 1px solid rgba(240, 227, 213, 0.2);
}
.blackberry .csc-dt .csc-dt-rhead .cell,
.blackberry .csc-dt .csc-dt-lhead .cell {
  border: none;
}
.blackberry .csc-dt .csc-dt-rhead .in-cell,
.blackberry .csc-dt .csc-dt-lhead .in-cell {
  background: none;
  color: #f0e3d5;
  font-size: 14px;
  font-weight: normal;
}
.blackberry .csc-dt .csc-dt-rhead .csc-dt-th-util,
.blackberry .csc-dt .csc-dt-lhead .csc-dt-th-util {
  background: rgba(38, 166, 154, 0.2);
  text-align: center;
  line-height: 33px;
  border: none;
}
.blackberry .csc-dt .csc-dt-rhead .csc-dt-th-util:after,
.blackberry .csc-dt .csc-dt-lhead .csc-dt-th-util:after {
  content: "\f0d7";
}
.blackberry .csc-dt .csc-dt-footer {
  font-size: 14px;
  padding: 4px 16px;
}
.blackberry .csc-dt .csc-dt-footer td {
  vertical-align: middle;
}
.blackberry .csc-dt .csc-dt-footer input {
  background: none;
  color: #f0e3d5;
  font-size: 14px;
  padding-left: 20px;
  line-height: 20px;
}
.blackberry .csc-dt .csc-dt-footer input.csc-dt-showallbtn {
  background: url("img/list.png") no-repeat left center;
}
.blackberry .csc-dt .csc-dt-footer input.csc-dt-exportbtn {
  background: url("img/excel.png") no-repeat left center;
}
.blackberry .csc-dt .csc-dt-footer input.csc-dt-importbtn {
  background: url("img/excel.png") no-repeat left center;
}
.blackberry .csc-dt .csc-dt-footer .csc-dt-paging-div .csc-dt-paging-btn {
  border: none;
}
.blackberry .csc-dt .csc-dt-lbody .brow > div:first-child {
  border-left: 1px solid rgba(3, 190, 202, 0.1);
}
.blackberry .csc-dt .brow .cell {
  border-color: rgba(3, 190, 202, 0.1);
}
.blackberry .csc-dt .in-cell {
  font-size: 14px;
  color: #01385f;
}
.csc-dt-th-util-popup .csd-contextmenu li .csd-contextmenu-icondiv img {
  display: none;
}
.csc-dt-th-util-popup .csd-contextmenu li .csd-contextmenu-icondiv:before {
  content: "\f15d" !important;
}
.csc-dt-th-util-popup .csd-contextmenu li + li .csd-contextmenu-icondiv:before {
  content: "\f15e" !important;
}
.blackberry .cstree {
  font-size: 14px;
}
.blackberry .cstree .csctree-top-div {
  display: table;
  width: 100%;
}
.blackberry .cstree .csctree-top-div > * {
  display: table-cell;
  vertical-align: middle;
}
.blackberry .cstree .csctree-top-div .cstree-search-input {
  width: 100%;
}
.blackberry .cstree .csctree-top-div .cstree-add-input {
  text-align: center;
  width: 30px;
  height: 28px;
  line-height: 28px;
  border: 1px solid rgba(7, 134, 168, 0.3);
  border-left: none;
  border-radius: 2px;
  color: #0382aa;
  font-size: 14px;
}
.blackberry .cstree .csctree-top-div .cstree-add-input:hover {
  background: rgba(38, 166, 154, 0.1);
}
.blackberry .cstree ul {
  background: #fdfcfb;
}
.blackberry .cstree li,
.blackberry .cstree li.cstree-last {
  background: rgba(3, 160, 186, 0.05);
  line-height: 24px;
}
.blackberry .cstree li.cstree-leaf > ins {
  display: none;
}
.blackberry .cstree li .cstree-star,
.blackberry .cstree li input[type="checkbox"] {
  margin: 0 5px;
}
.blackberry .cstree li .cstree-star {
  opacity: .7;
}
.blackberry .cstree li.cstree-open > ins {
  text-align: center;
  line-height: 24px;
  height: 24px;
  width: 24px;
  background: rgba(3, 190, 202, 0.1);
}
.blackberry .cstree li.cstree-open > ins:before {
  content: "\f0d7";
}
.blackberry .cstree li.cstree-closed > ins {
  text-align: center;
  line-height: 24px;
  height: 24px;
  width: 24px;
  background: rgba(3, 190, 202, 0.1);
}
.blackberry .cstree li.cstree-closed > ins:before {
  content: "\f0da";
}
.blackberry .cstree li:hover {
  background: rgba(3, 148, 180, 0.2) !important;
}
.blackberry .cstree:not(.cstree-nozebra) li:nth-child(odd) {
  background: #fdfeff;
}
.blackberry .cstree.cstree-nozebra li + li {
  border-top: 1px solid rgba(3, 160, 186, 0.1);
}
.main-menu-accordion-column {
  background: #15838a;
}
.main-menu .csc-advanced-list > ul {
  background: none;
}
.main-menu .csc-advanced-list > ul li:hover {
  background: rgba(3, 190, 202, 0.5);
}
.main-menu .csc-advanced-list > ul li.item-selected {
  background: #ffffff;
}
.main-menu .csc-advanced-list > ul li.item-selected span {
  color: #15838a;
}
.main-menu .csc-advanced-list > ul span {
  color: rgba(206, 251, 254, 0.8);
}
.csc-bottom-menu {
  background: #15838a;
}
.csc-bottom-menu .f_menu {
  background: none;
}
.csc-bottom-menu .f_menu ul li a {
  background: none;
  border: none;
  color: rgba(206, 251, 254, 0.8);
  line-height: 24px;
}
.csc-bottom-menu .f_menu ul li a:hover {
  background: #1badb7;
}
.csc-bottom-menu .f_submenu .f_submenu_header_td {
  border-right: 1px solid #1badb7;
}
.csc-bottom-menu .f_subContainerMenu {
  background: #15838a;
  border-bottom: 1px solid #1badb7;
  bottom: 36px;
}
.csc-bottom-menu .f_submenu_header_container {
  background: rgba(3, 190, 202, 0.5);
  color: rgba(206, 251, 254, 0.7);
  height: auto;
}
.csc-bottom-menu .f_submenu_header_container:after {
  content: "";
  display: table;
  clear: both;
}
.csc-bottom-menu .f_submenu_header_container .f_submenu_header_td {
  border: none;
  border-right: 1px solid rgba(5, 236, 251, 0.5);
}
.csc-bottom-menu .f_submenu_header_container font {
  line-height: 24px;
}
.csc-bottom-menu .f_submenu_header_td a:hover {
  background: rgba(5, 236, 251, 0.5);
  color: rgba(206, 251, 254, 0.8);
}
.main-menu .csc-advanced-list > ul {
  background: none;
}
.main-menu .csc-advanced-list > ul li:hover {
  background: rgba(3, 190, 202, 0.5);
}
.main-menu .csc-advanced-list > ul li.item-selected {
  background: #ffffff;
}
.main-menu .csc-advanced-list > ul li.item-selected span {
  color: #15838a;
}
.main-menu .csc-advanced-list > ul span {
  color: rgba(206, 251, 254, 0.8);
}
.csc-card__item * {
  border-color: rgba(17, 144, 164, 0.2);
}
.csc-card__item .csc-card__title .csc-card__title__text {
  background: rgba(17, 144, 164, 0.7);
}
.csc-card__item.csc-card--no-image .csc-card__title__text {
  background: #0382aa;
}
.csc-card__item .csc-card__footer a {
  color: #0a89a7;
}
.csc-card__item .csc-card__footer a:hover {
  background: #0a89a7;
}
.csc-card__item.selected .csc-card__footer {
  background: #0a89a7;
}
.csc-card__item.selected .csc-card__footer a:hover {
  background: #26a69a;
}
.csc-card__paging {
  background: rgba(17, 144, 164, 0.2);
}
.csc-card__paging a {
  color: #0a89a7;
}
.csc-card__paging a:hover {
  background: #0a89a7;
}
.designDiv .pg-tab-menu-layout .left-buttons,
.designDiv .pg-tab-menu-layout .site-header {
  position: static !important;
}
